doctype
html
    include _head.jade
    body
        .wrapper
            .slider
                .slider__wrapper
                    ul.slider__list
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/animals")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/cats")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/sports")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/city")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/animals")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/cats")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/sports")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/city")
        include _scripts.jade