doctype
html
    include _head.jade
    body
        .wrapper
            .slider
                .slider__wrapper
                    ul.slider__list
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/animals" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/cats" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/sports" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/city" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/animals" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/cats" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/sports" width="300" height="200")
                        li.slider__item
                            img.slider__img(src="http://lorempixel.com/300/200/city" width="300" height="200")
        include _scripts.jade