.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none !important; }

.slider {
  display: inline-block;
  position: relative; }
  .slider__wrapper {
    overflow: hidden;
    position: relative; }
  .slider__list {
    width: 5000px;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    left: 0;
    transition: 0.3s; }
    .slider__list:after {
      content: '';
      clear: both;
      display: table; }
  .slider__item {
    float: left;
    margin-left: 20px; }

.button {
  position: absolute; }
  .button-next {
    right: 0; }
  .button-prev {
    left: 0; }
